html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; }


@font-face {
    font-family: 'Proxima Nova Regular';
    src: url("../fonts/ProximaRegular.otf") format("opentype");
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url("../fonts/ProximaSemibold.otf") format("opentype");
}

h3  {
  text-align: center;

}
body {
  font-family:'Proxima Nova Regular';
  background-color: #f6f6ef;
  /*background-color: #f6f6ef;*/
}
h1, h2, h3, h4 {
 
 font-family: 'Proxima Nova Semibold';

}

.rowborder {
  display: inline-block;
  padding:30px;
  width:50%;
  
}

#search{
  display: none;
  border: 1px solid black;
  border-radius: 2px;
  width: 300px;
  height: 35px;
  margin: 0 auto;
  text-align: center !important;
}


.rowborder > td {
  border-left: 2px solid black;
  border-right: 2px solid black;
  background-color: #fff;
 
}
.rowborder > td:nth-child(1){
  border-top: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.rowborder> td:nth-child(4){
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 2px solid black;
}
#dataTable
{
  border-spacing: 20px;
  border-collapse: separate; 
  
}
.placeArrow{

  position:relative;
  left: 20%;
  width: 20px;
  height: 40px;
  display:inline;
}
.ratingSize{
  padding-top: 4px;
}
.starRating{
  /*padding-left: 56px;*/
  display:block;
  margin:auto;
  width:120px;
  padding-bottom: 30px;
}
#withDescription{
    padding-left: 4%;
  }

.ratingSize > p {
    font-size: 1.2em
  }

.distanceSize{
  text-align: center;
}

.distanceSize > p {
  display:inline;
  padding:3px;
}

.distanceborder {

  padding:0 !important;
  display:inline-block;
}
.distanceborder div {

  width: 100%;
  height: 2px;
  background-color: black;
}
.ui-table-reflow td,
  .ui-table-reflow th {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    /* if not using the stickyHeaders widget (not the css3 version)
     * the "!important" flag, and "height: auto" can be removed */
    width: 100% !important;
    height: auto !important;
  }

  /* reflow widget only */
  .ui-table-reflow tbody td[data-title]:before {
    color: #2780E3;
    font-size: 1em;
    content: attr(data-title);
    float: left;
    white-space: pre-wrap;
    text-align: bottom;
    display: inline-block;
    }


#dataTable thead {
  
  display:none;

}
.btn-group{
  padding-top: 4%;
  }
#mobile {
  color:#51B8AE;
  text-align: center; 
  
}
#click{
  text-align: center;
  margin-top: 20px;
}
p {
  text-align: center;
  /*padding-top: 3.5%;*/
}

.distanceborder{

  display: none;
}

/*grabs direct child of rowname, which is modal title */
#rowName > p {
  text-align: left;
  font-size: 25px;
}
.space{
  
  width: 0px;
}
#scroll{
  height: 500px;
  overflow: auto;
}
div#rowDesc {
  width:500px;
  height:480px;
  margin: 0 auto 0 auto;
}

.mode {

  padding-left: 5em;

}
.ratingSize {
  text-align: center;
}
.container {
  
  width: 100%;
  
}
@media ( max-width: 50em ) {


  div#rowDesc {
  width: 250px;
  height:200px;
  margin: 0 auto 0 auto;
}

 #bold {
  font-size: 1.6em;
  font-weight: 600;
  
 }

  /* reflow2 widget only */
  table.ui-table-reflow .ui-table-cell-label.ui-table-cell-label-top {
    display: block;
    padding: .4em 0;
    margin: .4em 0;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 400;
  }
  table.ui-table-reflow .ui-table-cell-label {
    padding: .4em;
    min-width: 30%;
    display: inline-block;
    margin: -.4em 1em -.4em -.4em;
  }

  
} /* end media query */

/* reflow2 widget */
.ui-table-reflow .ui-table-cell-label {
  display: none;
}

#vehicle #rowName {
  float: left;

}

.cd-top {
  display: inline-block;
  height: 20px;
  width: 20px;
  position: fixed;
  bottom: 20px;
  right: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  h1 {
  font-size: 50px;
}
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
  #checkreviews {
    float:left;
    background-color: #FFD700;
}
  #phoneNumber {
    padding-right: 25%;
    font-size: 1.2em;
  }

  #realPhone
  {
    float:left;
    padding-left: 34%;
  }
   #rowName {
  float: left;
  width: 40%;
}
#bold {
  font-size: 2.0em;
  font-weight: 600;
  
 }
}
.ratingSize, .distanceSize{
  font-size: 1.2em;
}
.openFor{

  color: #51B8AE;
}

.distanceborder {

  padding:0 !important;
  display:inline-block;
}
.distanceborder div {

  width: 100%;
  height: 2px;
  background-color: black;
}

tr { 
  cursor: pointer; 
  }

#activeBar{
  background-color: #51B8AE;
}

#dataTable {

border-collapse: separate;
border-spacing: 20px;
}
/*.table > tbody > tr > td, .table > thead > tr > th {
  border-top: none;
  border-bottom: 1px solid #ddd;
}*/



@media (max-device-width: 668px) {
  
body {

  background-color: #E27E6A;
}
.rowborder {
  display: table-row;
}
.distanceborder {

  padding:0 !important;
  display:inline-block;
}
.distanceborder div {

  width: 100%;
  height: 2px;
  background-color: black;
}
#click {
  margin-bottom: 5px;
  color:#E1DBB7;
}



table.table.table-striped tr.rowborder td {
    background-color: transparent;

}

/*tbody > tr > td:nth-child(3)
{
  border-bottom: 7px solid #ddd;
}*/

tr.rowborder td 
  .cd-top
  {
    
    margin-right: 10px;
     
  }
  #checkreviews{
    background-color: #FFD700;
    float:left;
    
  }
  
  #phoneNumber{
    margin-left: 6%;
    float:left;
    font-size: 1.2em;
    line-height: 1.9;
  }
  #bold {
    font-size: 1.8em;
    color: #51B8AE;
    padding-bottom: 0px;
  }

}




